table.chess-board {
  border: 1px solid #dddddd;
  cellspacing: 0px;
  margin: 20px;
  transition: transform 600ms linear;
  will-change: transform;
}

table.chess-board.white-view {
  transform: rotate(0deg);
}

table.chess-board.black-view {
  transform: rotate(180deg);
}

table.chess-board.white-view td svg {
  transform: rotate(0deg);
}

table.chess-board.black-view td svg {
  transform: rotate(-180deg);
}



table.chess-board td {
  cursor: pointer;
  height: 67px;
  width: 67px;
  min-width: 67px;
  font-size: 45px;
  text-align: center;
  line-height: 67px;
  box-sizing: border-box;
  box-shadow: none;
}

table.chess-board td.black {
  background-color: #dddddd;
  transition: background-color 125ms linear;
}

table.chess-board td.white {
  background-color: #ffffff;
  transition: background-color 125ms linear;
}


table.chess-board td.black.is-active, table.chess-board td.black.can-select:hover {
  background-color: #DADEF6;
}
table.chess-board td.white.is-active, table.chess-board td.white.can-select:hover{
  background-color: #EFF1FD;
}

table.chess-board td.black.is-move {
  background-color: #CDE4ED;
}
table.chess-board td.white.is-move {
  background-color: #E4F1F6;
}

table.chess-board td svg {
  display: block;
  margin: 11px; /* 67 - 45 / 2  = 10 */
  transition: transform 600ms linear;
  will-change: transform;
}



.white-king:before {
  content: '\2654';
}
.black-king:before {
  content: '\265A';
}
.white-queen:before {
  content: '\2655';
}
.black-queen:before {
  content: '\265B';
}
.white-bishop:before {
  content: '\2657';
}
.black-bishop:before {
  content: '\265D';
}
.white-knight:before {
  content: '\2658';
}
.black-knight:before {
  content: '\265E';
}
.white-rook:before {
  content: '\2656';
}
.black-rook:before {
  content: '\265C';
}
.white-pawn:before {
  content: '\2659';
}
.black-pawn:before {
  content: '\265F';
}
