table.chess-board {
  border: 1px solid #dddddd;
  cellspacing: 0px;
  margin: 20px;
}

table.chess-board td {
  cursor: pointer;
  height: 60px;
  width: 60px;
  min-width: 60px;
  font-size: 32px;
  text-align: center;
  box-sizing: border-box;
}

/*
https://coolors.co/6aacba-9ac8d1-c9dee2-708089-8fa0aa

#6AACBA // MOONSTONE BLUE
#9AC8D1 // PALE CERULEAN
#C9DEE2 // COLUMBIA BLUE
#708089 // SLATE GRAY
#8FA0AA // CADET GREY

https://coolors.co/cee5f2-accbe1-7c98b3-637081-536b78
#CEE5F2 // AZUREISH WHITE
#ACCBE1 // LIGHT STEEL BLUE
#7C98B3 // WELDON BLUE
#637081 // AUROMETALSAURUS
#536B78 // PAYNE'S GREY


https://coolors.co/6aacba-9ac8d1-c9dee2-a4aeb3-a3b1b9
#A4AEB3 // SILVER CHALICE
*/

table.chess-board td.black {
  background-color: #dddddd;
  transition: background-color 120ms ease;
}

table.chess-board td.white {
  background-color: #ffffff;
  transition: background-color 120ms ease;
}


table.chess-board td.black.can-select:hover {
  background-color: #D1D6E4;
}
table.chess-board td.white.can-select:hover {
  background-color: #EEF0FA;
}

table.chess-board td.black.is-active {
  background-color: #D1D6E4;
}
table.chess-board td.white.is-active {
  background-color: #EEF0FA;
}


table.chess-board td.black.is-move {
  background-color: #B7D8E5;
}
table.chess-board td.white.is-move {
  background-color: #D9EBF2;
}




.white-king:before {
  content: '\2654';
}
.black-king:before {
  content: '\265A';
}
.white-queen:before {
  content: '\2655';
}
.black-queen:before {
  content: '\265B';
}
.white-bishop:before {
  content: '\2657';
}
.black-bishop:before {
  content: '\265D';
}
.white-knight:before {
  content: '\2658';
}
.black-knight:before {
  content: '\265E';
}
.white-rook:before {
  content: '\2656';
}
.black-rook:before {
  content: '\265C';
}
.white-pawn:before {
  content: '\2659';
}
.black-pawn:before {
  content: '\265F';
}
