table.chess-board {
  border: 1px solid #CCCCCC;
  cellspacing: 0px;
  margin: 20px;
}

table.chess-board td {
  cursor: pointer;
  height: 60px;
  width: 60px;
  min-width: 60px;
  font-size: 32px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid transparent;
}

table.chess-board td.black {
  background-color: #CCCCCC;
}

table.chess-board td.white {
  background-color: #FFFFFF;
}


table.chess-board td.can-select {
  border-style: inset;
  border-color: blue;
}

table.chess-board td.is-active {
  border-style: inset;
  border-color: orange;
}

table.chess-board td.is-move {
  border-style: inset;
  border-color: green;
}


.white-king:before {
  content: '\2654';
}
.black-king:before {
  content: '\265A';
}
.white-queen:before {
  content: '\2655';
}
.black-queen:before {
  content: '\265B';
}
.white-bishop:before {
  content: '\2657';
}
.black-bishop:before {
  content: '\265D';
}
.white-knight:before {
  content: '\2658';
}
.black-knight:before {
  content: '\265E';
}
.white-rook:before {
  content: '\2656';
}
.black-rook:before {
  content: '\265C';
}
.white-pawn:before {
  content: '\2659';
}
.black-pawn:before {
  content: '\265F';
}
